@model IEnumerable<ProjectCalidadSoft.Models.Cie10>

@{
    ViewData["Title"] = "Index";
}

<h1>Banco de Enfermedades  CIE10</h1>

<p>
    <a asp-action="Create">Crear Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Codigo">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Codigo">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.Codigo">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
