@model IEnumerable<ProjectCalidadSoft.Models.DiagnosticoMedico>

@{
    ViewData["Title"] = "Index";
}

<h1>Diagnosticos Medicos</h1>

<p>
    <a asp-action="Create">Crear Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Paciente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cie10)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Paciente.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cie10.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.IdDiagnostico}) |
                @Html.ActionLink("Details", "Details", new { id = item.IdDiagnostico }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.IdDiagnostico })
            </td>
        </tr>
}
    </tbody>
</table>
