@model IEnumerable<ProjectCalidadSoft.Models.Paciente>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="table-responsive">
    <table class="table  table-hover">
        <thead>
            <tr>

                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Apellidos)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Sexo)
                </th>


                <th>
                    @Html.DisplayNameFor(model => model.TipoPaciente)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Telefono)
                </th>
              

                <th>
                    @Html.DisplayNameFor(model => model.TipoSangre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Tutor)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Estado)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Peso)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Altura)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr onclick="location.href='@Url.Action("Edit",null, new { id = item.Id})'">
                   
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Apellidos)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Sexo)
                    </td>



                    <td>
                        @Html.DisplayFor(modelItem => item.TipoPaciente)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Telefono)
                    </td>
                    
                    
                    <td>
                        @Html.DisplayFor(modelItem => item.TipoSangre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Tutor)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Estado)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Peso)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Altura)
                    </td>


                    <td>
                        <div class="btn-group-sm" role="group" >
                            <a class="btn btn-outline-primary btn-lg" asp-action="Details" asp-route-id="@item.Id" role="button">Detalles</a>
                            <a class="btn btn-outline-warning btn-lg" asp-action="Edit" asp-route-id="@item.Id" role="button"> Editar </a>
                           @* <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id" role="button">Borrar</a>*@
                        </div>

                            @*
            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>

                            *@

                    </td>
                </tr>
            }



        </tbody>
    </table>
</div>



